$primary-color : rgb(67,67,67);
$title-font-stack : 'Roboto', sans-serif;
$general-font-stack : 'Lato', sans-serif;

body{

}

#nvbar{
    font-family: $general-font-stack;
}

img{
    width:100%;
}

p, li{
    font-family: $general-font-stack;
}

h1,h2,h3,h4,h5{
    font-family: $title-font-stack;
}

h6, h7{
    font-family: sans-serif;
}

.tag-list{
    line-height: 1.8em;
}
$article-insect : 100px;
$article-content-padding: 20%;

$layout-padding: 10%;

$skill-list-line-height: 5px;
$skill-padding: 10%;
    
$project-article-horizontal-margin: 5%;

$gradient-font-color: rgba(255,255,255,0.8);
    
#content-section{
    padding-bottom: $layout-padding;
    
    article{
        background-size:cover;

        margin: 0px;
    
        padding-top: $article-insect;
        padding-bottom: $article-insect;
        
        padding-right: $article-content-padding;
        padding-left: $article-content-padding;
    
        vertical-align: text-top;
        
        header{
            font-family: $title-font-stack;
        }

        .main-content{
            display: inline-block;
            width:72%;
        }
        
        aside{
            vertical-align: top;
            display: inline-block;
            width:25%;
        }
    
    }
    
    article:first-child{
        padding-top: 2*$article-insect;
    }
    
    #skill{
        header, .main-content{
            padding-left: $skill-padding;
            padding-right: $skill-padding;
        }
        .main-content{
            padding-top: 40px;
            padding-left: $skill-padding;
            padding-right: $skill-padding;
            
            h6{
                margin-top: $skill-list-line-height;
                margin-bottom: $skill-list-line-height;
                display: inline-block;
                width: 25%;
            }
        
            .progress{
                margin-top: 3px;
                margin-bottom: 3px;
                display: inline-block;
                
                height: 3px;
                width: 73%;
            }
            
            .progress-bar{
            }
        }
        
    }

    section{
        padding-top: $article-insect;
        padding-bottom: $article-insect;
        
        padding-right: $article-content-padding;
        padding-left: $article-content-padding;
        
        text-align: center;
        
        header{
            font-family: $title-font-stack;
        }
        
        article{
            overflow: scroll;
            border: solid 1px;
            border-radius: 2px;
            padding: 0px;
            width: 300px;
            height: 400px;
            display: inline-block;
            margin-top: 60px;
            margin-bottom: 60px;
            margin-left: $project-article-horizontal-margin;
            margin-right: $project-article-horizontal-margin;
            
            header{
                padding-bottom: 50%;
            }
            
            details{
                text-indent: 2em;
                padding-left: 10%;
                width:90%;
            }
            
            details, li
            {
                text-align: left;
            }
            
            aside, .main-content, details, a{
                color:  $gradient-font-color;
            }
            
            a{
                text-decoration: underline;
            }
            
            aside{
                width:100%;
            }
            
            &.span-project{
                margin-left: 5%;
                margin-right: 5%;
                width: 87%;
                
                header{
                    padding-bottom:30%;
                }
                
                ul{
                    font-size: 18px;
                    text-align: left;
                }
            }
            
            summary::-webkit-details-marker {
                display: none
            }
        }
        
        
    }

    
}

#summery{
    background-image: radial-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.9)),url("../img/rails-railway.jpg");
    color:rgba(255,255,255,0.65);
    background-attachment: fixed;
}

#education{
    background-image: url("../img/white-paper-texture.jpg");
    background-repeat: repeat;
}

#project{
    background-color:rgb(65,65,65);
    >header{
        color: white;
    }
}

#zombiemap{
    background-image: linear-gradient(rgba(255,255,255,0.9),rgba(0,0,0,0.7)), url("../img/zombiemap_clipped.png");
}

#dsp{
    background-image: linear-gradient(rgba(255,255,255,0.9),rgba(0,0,0,0.7)), url("../img/dsp.jpg");
}

#prom{
    background-image: linear-gradient(rgba(255,255,255,0.9),rgba(0,0,0,0.7)), url("../img/prom.png");
}

#uforent{
    background-image: linear-gradient(rgba(255,255,255,0.9),rgba(0,0,0,0.7)), url("../img/uforent.jpg");
}

#homecare{
    background-image: linear-gradient(rgba(255,255,255,0.9),rgba(0,0,0,0.7)), url("../img/home-care.png");
}

#famirent{
    background-image: linear-gradient(rgba(255,255,255,0.9),rgba(0,0,0,0.7)), url("../img/famirent.jpg");
}

#openhouse{
    background-image: linear-gradient(rgba(255,255,255,0.9),rgba(0,0,0,0.7)), url("../img/junior_open_house.jpg");
}

#si2{
    background-image: linear-gradient(rgba(255,255,255,0.9),rgba(0,0,0,0.7)), url("../img/si2lab.gif");
}

#srs{
    background-image: linear-gradient(rgba(255,255,255,0.9),rgba(0,0,0,0.7)), url("../img/srsLogo.jpg");
}

#tnf{
    background-image: linear-gradient(rgba(255,255,255,0.9),rgba(0,0,0,0.7)), url("../img/techAndFinance.jpg");
}


//scroller

/*  chrome  */
::-webkit-scrollbar {  
	 width: 0px;  
}  
::-webkit-scrollbar-track {
    background-color: none;  
}  
::-webkit-scrollbar-track-piece {
    background-color: none;  
}  

::-webkit-scrollbar-thumb {
	width: 4px;
	border-radius: 8px;
    background-color: none; 
}  

::-webkit-scrollbar-corner{ 
    background-color: none;
}

.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: normal 16px sans-serif;

	padding: 45px 50px;
	margin-top: 80px;
    header{
        color:white;
    }
}

.footer-distributed ul{
    list-style-type: none;
}

.footer-distributed li{
    display: inline;
}

.footer-distributed .footer-left{
    ul, p{
        color:  #8f9296;
        font-size: 14px;
        margin: 0;
    }
}



/* Footer links */

.footer-distributed {
    ul.footer-links, p.footer-links{
        font-size:18px;
        font-weight: bold;
        color:  #ffffff;
        margin: 0 0 10px;
        padding: 0;
         a{
            display:inline-block;
            line-height: 1.8;
            text-decoration: none;
            color:  inherit;
        }
    }
}

.footer-distributed .footer-right{
	float: right;
	margin-top: 6px;
	max-width: 180px;
}

.footer-distributed .footer-right a{
	display: inline-block;
	width: 35px;
	height: 35px;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-left: 3px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 600px) {

	.footer-distributed .footer-left,
	.footer-distributed .footer-right{
		text-align: center;
	}

	.footer-distributed .footer-right{
		float: none;
		margin: 0 auto 20px;
	}

	.footer-distributed .footer-left {
        ul.footer-links, p.footer-links{
		  line-height: 1.8;
        }
    }
}